.main-div {
  height: 100vh;
  width: 100%;
  background: #12a6ff;
  overflow: hidden;
}
.card {
  background: white;
  border-radius: 10px;
  height: 90vh;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  overflow: hidden;
  border: 2px solid white;
}
.prime-btn {
  padding: 15px;
  text-align: right;
}
.prime-btn button {
  border: 1px solid #12a6ff;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 5px;
  background: #12a6ff;
  color: white;
  cursor: pointer;
}
.table-wrap {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  position: sticky;
  top: 0;
}

th,
td {
  border: 1px solid #12a6ff;
  padding: 0.5rem;
  font: caption;
  outline-offset: -1px;
}

th {
  font-weight: 700;
  z-index: 1;
  padding: 1rem 0.5rem;
  text-align: left;
}
th:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #12a6ff;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  outline: 1px solid #12a6ff;
}
.table-wrap {
  border: 1px solid #ccc;
  -webkit-overflow-scrolling: touch;
}
table {
  margin: -1px;
  width: calc(100% + 2px);
}
tr:nth-of-type(even) {
  background-color: whitesmoke;
}
td:nth-of-type(3) {
  white-space: nowrap;
}

.table-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
  border-left: 1px solid #ccc;
  background-image: linear-gradient(to top, whitesmoke, white);
}

.table-wrap::-webkit-scrollbar:vertical {
  width: 0.6rem;
}

.table-wrap::-webkit-scrollbar:horizontal {
  width: 0.6rem;
}

.table-wrap::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.tab-img {
  height: 32px;
  width: 50px;
  text-align: center;
}
.tab-img img {
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
/* --------------------------------------page2------------------------------ */
.donut-div {
  text-align: center;
}
.donut-head {
  background: #12a6ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px;
  text-align: center;
}
.each-legends {
  font-size: 16px;
  font-weight: 600;
}
.donut {
  margin-left: 20%;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 98%;
    top: 1%;
    left: 1%;
  }
  .table-wrap {
    overflow-x: auto;
  }
  th {
    font-weight: 600;
    font-size: 13px;
    padding: 1rem 0.3rem;
  }
  .table-wrap::-webkit-scrollbar:vertical {
    width: 0.4rem;
  }
  /* --------------------------------------page2------------------------------ */

  .each-legends {
    font-size: 16px;
    font-weight: 600;
  }
  .donut {
    margin-left: -5%;
  }
}
@media only screen and (max-width: 900px) {
  .donut {
    margin-left: 10%;
  }
}
